* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.price-cards h3,
footer h3 {
  margin: 18px auto;
}

nav,
.price-cards,
.hire-us,
footer {
  padding: 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-front {
  width: 175px;
  height: 52px;
}
.menu {
  display: grid;
}
ul {
  list-style: none;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

li:hover:not(:has(button)),
.bars:hover,
.policy:hover {
  background-color: #2474ff50;
  opacity: 0.8;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.blue {
  color: rgb(0, 130, 255);
}

hr {
  width: 100%;
}

button,
input[type="submit"] {
  color: white;
  background-color: rgb(0, 130, 255);
  border: 1px solid white;
  border-radius: 30px;
  padding: 15px 25px;
  width: fit-content;
}
.buyButton:hover,
.playButton:hover,
input[type="submit"]:hover {
  color: rgb(0, 130, 255);
  background-color: white;
  border-color: rgb(0, 130, 255);
}

h3 button {
  background-color: rgb(9, 196, 133);
  padding: 5px 10px;
  font-weight: 700;
}

.menuButton {
  border: none;
  padding: 0 6px;
  background-color: white;
  font-size: 30px;
}

[aria-controls="menu-list"] {
  display: none;
}

p,
li,
label,
.address,
.menuButton,
.menu-list span {
  color: #767676;
  line-height: 1.5;
}

img:not([src*=".svg"]) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1 {
  max-width: 250px;
}
.top {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  background-image: url("../assets/bg/background-top.svg");
  padding: 100px 30px;
  background-size: auto 500px;
  background-repeat: no-repeat;
}
.opener {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.button-grouping {
  margin-top: 20px;
}
.button-grouping .blue {
  margin: auto 20px;
  font-weight: 700;
}
.logos {
  display: grid;
  gap: 30px 50px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
}
.logos img {
  position: relative;
  padding: 16px;
  box-shadow: 0 0 10px 3px #c0c0c0;
  overflow: visible;
  animation: from-above 2s 0.2s forwards;
}
.logos img[src*="/google"] {
  width: 42px;
  height: 42px;
  padding: 10px;
  animation: from-left 2s 0.2s forwards;
}
.logos img:nth-child(-n + 2) {
  left: -65px;
}
.logos img:nth-child(-n + 3) {
  top: -50px;
}
.logos img:nth-child(4) {
  left: -90px;
}
.logos img:nth-child(5) {
  left: 50px;
}
.logos img:nth-child(6) {
  bottom: -130px;
}
.logos img:last-child {
  left: 60px;
}

@keyframes from-above {
  0% {
    transform: translateY(-300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes from-left {
  0% {
    transform: translateX(-300%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.features p {
  max-width: 550px;
  margin: auto;
}
.features hr {
  position: relative;
  bottom: 27px;
  z-index: -1;
  margin: auto;
  opacity: 0.25;
}
.dots {
  display: flex;
  width: 75%;
  margin: 50px auto;
  align-items: start;
}
.dot {
  background-color: rgb(230, 244, 255);
  border-radius: 50%;
  padding: 20px 25px;
  width: fit-content;
  margin: auto;
  box-shadow: 0 0 0 10px white;
}
.dot-label {
  margin: 20px 0;
  max-height: 19px;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  gap: 10px;
}
.price-cards {
  display: flex;
  gap: 30px;
}
.cardL {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
  padding: 60px 45px;
  transition: all 0.3s ease-out;
}
.cardL:hover {
  box-shadow: 0 5px 20px 5px #ddd;
}
.four-card-set {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  flex: 3;
}
.cardS {
  width: 40%;
}
.cardS img {
  width: 60px;
  height: 60px;
}
.card-head span {
  font-size: 2.5em;
}
.card-head {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.tiny-text {
  font-size: 0.8em;
  margin: 10px 0;
}

.hire-us {
  display: flex;
  background-color: #253d6a;
  gap: 30px;
  justify-content: center;
}
.hire-words h2,
.hire-words h3,
q {
  color: white;
}
.hire-words,
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
}
.hire-words {
  margin-left: 60px;
}
.hire-part-1 hr {
  margin: 30px auto;
}
q {
  font-style: italic;
}
.hire-part-2 img {
  margin: 15px auto;
}
form {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(8, 0.5fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    " header header header header"
    "firstN firstN lastN lastN"
    "email email email email"
    "budget budget country country"
    "text text text text"
    "text text text text"
    "market market market market"
    ". button button .";
}
form h3 {
  grid-area: header;
}
#first-name {
  grid-area: firstN;
}
#last-name {
  grid-area: lastN;
}
.email {
  grid-area: email;
}
#budget {
  grid-area: budget;
}
#country {
  grid-area: country;
}
textarea {
  grid-area: text;
}
.marketing-set {
  grid-area: market;
  display: flex;
  gap: 20px;
  align-items: start;
}
.marketing-set label {
  display: flex;
  flex-direction: column;
}
.policy {
  text-decoration: dotted underline 3px;
  font-weight: 700;
}
.policy:first-child {
  color: #767676;
}
.pp {
  display: flex;
  gap: 30px;
  width: 100%;
}
input[type="submit"] {
  grid-area: button;
  justify-self: center;
  margin-top: 20px;
}
input:not([type="submit"]),
select,
textarea {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 30px;
  min-height: 30px;
}

footer {
  display: flex;
  gap: 40px;
  padding-top: 0;
}
footer .logo-front {
  width: 101px;
  height: 30px;
  margin: 18px auto;
}
footer li,
.address,
.phone {
  line-height: 2;
  font-size: 14px;
}
.footer-lists {
  display: grid;
  grid-template: auto / repeat(4, auto);
  gap: 40px;
}
.footer-list {
  min-width: max-content;
}
.hiring {
  color: white;
  background-color: rgb(0, 130, 255);
  border-radius: 3px;
  font-size: 9px;
  padding: 3px 4px;
  margin-left: 6px;
  vertical-align: middle;
}
.address span {
  display: inline-block;
  transform: rotate(-40deg);
}
.contact-info span,
.symbol-acc,
.symbol-i {
  margin-right: 7px;
}

.symbol-play {
  color: rgb(0, 130, 255);
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  font-size: 16px;
}
.playButton:hover .symbol-play {
  color: white;
  background-color: rgb(0, 130, 255);
}
.symbol-acc,
.symbol-i {
  border: 1px solid #767676;
  border-radius: 50%;
  padding: 2.4px;
  color: white;
  font-size: 10px;
}
.symbol-i {
  padding: 2px 7.6px;
  font-size: 12px;
  border: none;
  background-color: #767676;
}

@media (max-width: 1023px) {
  .menu-list {
    display: none;
  }
  [aria-controls="menu-list"] {
    display: block;
  }
  .top {
    flex-direction: column;
    padding: 50px 30px 10px;
    text-align: center;
  }
  .opener {
    align-items: center;
  }
  h1 {
    max-width: max-content;
  }
  .logos {
    gap: 10px 150px;
  }
  .logos img[src*="."] {
    animation: none;
  }

  .cardL {
    transition: none;
  }
  .price-cards {
    flex-direction: column;
  }
  .cardL {
    align-items: center;
  }

  .hire-us {
    flex-direction: column;
  }
  .hire-words {
    flex-direction: row;
  }
  .hire-part-1 {
    flex: 2;
  }
  .hire-part-2 {
    flex: 1;
  }
  .form-container {
    padding: 30px;
  }

  .footer-lists {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  nav,
  .price-cards,
  .hire-us,
  footer {
    padding: 15px;
  }

  .top {
    gap: 100px;
  }
  .logos {
    gap: 5px;
    align-self: normal;
  }
  .logos img:nth-child(-n + 2) {
    left: -15px;
  }
  .logos img:nth-child(-n + 3) {
    top: -30px;
  }
  .logos img:nth-child(4) {
    left: -5px;
  }
  .logos img:nth-child(6) {
    bottom: -90px;
  }

  .features hr {
    display: none;
  }
  .dots {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .dot-grouping {
    display: flex;
    gap: 40px;
  }

  .four-card-set {
    flex-direction: column;
    align-items: start;
  }
  .cardS {
    width: 100%;
  }

  .hire-words {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .form-container {
    padding: 0;
  }
  form {
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
      " header header header"
      "firstN firstN firstN"
      "lastN lastN lastN"
      "email email email"
      "budget budget budget"
      "country country country"
      "text text text"
      "text text text"
      "market market market"
      ". button .";
  }
  .pp .policy.blue {
    display: none;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-lists {
    grid-template-columns: 1fr;
  }
}
